@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        if (webix.CustomScroll && !webix.env.touch) webix.CustomScroll.init();

        var content_layout = {
            margin: 10, padding: 0, type: "wide",
            view: "flexlayout",
            cols: [
                {
                    rows: [
                        {
                            height: 35,
                            view: "toolbar",
                            elements: [
                                { view: "text", id: "list_input", label: "TABLES", css: "fltr", labelWidth: 170 }
                            ]
                        },
                        {
                            view: "list",
                            id: "tablelist",
                            template: "<span class='webix_icon fa-sticky-note-o'></span>#tablename#",
                            select: true, //enables selection
                            width: 400,
                            url: "/api/Tables/@(ViewBag.DefaultSchema)",
                            ready: function () {
                                // webix.message("loaded");
                                showProgress(false);
                            },
                            onClick: {
                                "fa-sticky-note-o": function (e, id, trg) {
                                    // webix.message(" ID =" + id);

                                    var schm = $$("tablelist").getItem(id).tabschema;
                                    var tbl = $$("tablelist").getItem(id).tabname;
                                    var url = "@(Url.Action("Records","Table"))?schema="+schm+"&table=" + tbl;
                                    window.open(url);

                                    return false;
                                }
                            }
                        }
                    ]
                }
            ]
        };

        webix.ui({
            id: "root_layout",
            rows: [
                {
                    view: "toolbar", id: "mybar", elements: [
                        { view: "button", value: "Btn1", width: 70, click: "btn1_click" },
                        { view: "button", value: "Btn2", width: 70, click: "btn2_click" },
                        { view: "button", value: "Btn3", width: 70, click: "btn3_click" },
                        { view: "button", value: "Clear Form", width: 85, click: '$$("tableform").clear()' }]
                },
                {
                    cols: [
                        { view: "scrollview", body: content_layout },
                        { view: "resizer" },
                    ]
                },
                { template: "status: hoge", height: 30 }
            ]
        });
        webix.ui.fullScreen();
        webix.extend($$("root_layout"), webix.ProgressBar);


        $$("list_input").attachEvent("onTimedKeyPress", function () {
            var value = this.getValue().toLowerCase();
            $$("tablelist").filter(function (obj) {
            return obj.tabname.toLowerCase().indexOf(value) >= 0
            || obj.tablename.toLowerCase().indexOf(value) >= 0;
            })
        });

        showProgress(true);
    });

    function showProgress(isInProgress) {
        if (isInProgress) {
            $$("root_layout").disable();
            $$("root_layout").showProgress({
                type: "icon",
                //delay: 2000,
                hide: false
            });
        } else {
            $$("root_layout").hideProgress();
            $$("root_layout").enable();
        }
    }

    function btn1_click() {
    }
    function btn2_click() {
    }
    function btn3_click() {
    }
</script>