<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Gmaster</title>
    <environment include="Development,Staging,Production">
        <link rel="stylesheet" href="~/codebase/webix.css" />
        <link rel="stylesheet" href="~/css/gmaster.css" />
        <script src="~/codebase/webix.js"></script>
    </environment>
</head>
<body>
    @RenderBody()
</body>
</html>
